form.form-inline
  == link_to 'Check level of English', current_user, class: 'btn', id: 'hdr-btn'
  == link_to 'Progress', current_user, class: 'btn', id: 'hdr-btn'
  == link_to 'Dictionary', current_user, class: 'btn', id: 'hdr-btn'
