#questions_wrapper
  - @questions.each do |question|
    = render partial: "answers/#{question.type.underscore}_form", locals: {question: question }

== link_to  "Ending message page", lesson_ending_path(id: @lesson.id, lesson_id: @lesson.id)

