$black: #000;
$white: #fff;
$light_gray: #d9d9d9;
$light_green: #3e8e41;
$light_white: #f1f1f1;
$middle_white: #f9f9f9;
$light_black: rgba(0,0,0,0.2);

$main_yellow: #ffd300;
$main_orange: #ffa100;
$main_milk: #f1f2f1;
$main_black: #010000;
$main_brown: #a74c00;

$lemon: #acb94e;
$border_gray: #646363;

/* Colors for RadioButtons in Test Level
 *
 */
$radio_white: #D1D3D4;
$radio_dark_white: #C2C2C2;
$radio_green: #4DCB6D;
$radio_light_green: #9CE2AE;
$radio_dark_gray: #777;
$radio_gray: #888;
$radio_light_gray: #999;