.main-lesson-box {
  img {
    border-radius: 10px;
    max-width: 80%;
    height: 300px;
    margin-bottom: 10px;
  }
  width: 80%;
  padding: 10px 10px 10px 10px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #010000;
  border-radius: 5px;
  text-align: center;
}

.lesson-text {
  font-size: 25px;
  font-style: bold;
  margin-bottom: 20px;
}

.lesson-answers {
  margin-top: 20px;
  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 20px;
    input[type=radio] + label {
      background: #f1f2f1;
      border-radius: 5px;
      border: 2px solid black;
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 5px;
      font-size: 20px;
      width: 200px;
    }
    input[type=radio]:checked + label {
      background: #ffa100;
    }
  }

  label {
    cursor: pointer;
  }

  input {
    visibility: hidden;
  }
}

.check-answer {
  margin-top: 20px;
  input[type=submit]  {
    background: #ffd300;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    position: relative;
    margin-bottom: 10px;
    margin-left: 50px;
  }
}
