@import 'bootstrap';
@import 'colors';

.content-test{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.content-cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px; height: 150px;
  margin-left: 60px;
  background: $lemon;
  position: relative;
  border: $border_gray;
  border-radius: 50px;
}

.content-cloud:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 100%; top: calc(1% + 65px);
  border-top: 40px solid transparent;
  border-right: 60px solid $lemon;
}

.content-cloud p{
  text-align: center;
  font-family: 'comic sans ms';
  font-size: 40px;
}

.content-right-block{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content-right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  height: 130px;
  margin-top: 160px;
  .btn.btn-outline-success {
    margin-top: 50px;
    height: 40px;
  }
}
